.container {
  width: 100%;
  min-height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: block;
  margin: 15px auto;
  position: relative;
  color: var(--accent-dark);
  box-sizing: border-box;
  animation: shadowRolling 2s linear infinite;
}

@keyframes shadowRolling {
  0% {
    box-shadow: 0px 0 var(--accent-dark), 0px 0 transparent, 0px 0 transparent, 0px 0 transparent;
  }
  12% {
    box-shadow: 100px 0 var(--accent-dark), 0px 0 transparent, 0px 0 transparent, 0px 0 transparent;
  }
  25% {
    box-shadow: 110px 0 var(--accent-dark), 100px 0 var(--accent-dark), 0px 0 transparent,
      0px 0 transparent;
  }
  36% {
    box-shadow: 120px 0 var(--accent-dark), 110px 0 var(--accent-dark), 100px 0 var(--accent-dark),
      0px 0 transparent;
  }
  50% {
    box-shadow: 130px 0 var(--accent-dark), 120px 0 var(--accent-dark), 110px 0 var(--accent-dark),
      100px 0 var(--accent-dark);
  }
}
